<div class="min-h-full flex flex-col justify-center items-center py-16 px-6 lg:px-8 w-full">

  <%# Alerts and Error messages %>
  <% if alert = flash[:alert] %>
    <p class="py-3 px-4 bg-red-100 mb-8 text-red-600 font-medium rounded-lg text-center shadow-sm w-full max-w-md" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="py-3 px-4 bg-green-100 mb-8 text-green-600 font-medium rounded-lg text-center shadow-sm w-full max-w-md" id="notice"><%= notice %></p>
  <% end %>

  <%# Header %>
  <div class="sm:mx-auto sm:w-full sm:max-w-2xl text-center mb-10">
    <h1 class="text-4xl md:text-5xl font-bold text-slate-900 mb-4">Avaliador de Planos de Aula</h1>
    <p class="text-slate-600 text-lg">Insira seus dados cadastrados para fazer login na plataforma</p>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-lg bg-[#752CC8] rounded-[2rem] p-10 md:p-12 shadow-2xl">
    <h2 class="text-center text-4xl font-bold text-white mb-10">Login</h2>

    <%= form_with url: session_url, class: "space-y-6" do |form| %>

      <%# Email Input %>
      <div>
        <%= form.label :email_address, "Email", class: "block text-sm font-medium text-white mb-2" %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address], class: "block w-full rounded-xl border-0 bg-white py-3.5 px-4 text-slate-900 shadow-inner focus:ring-4 focus:ring-white/50 sm:text-sm sm:leading-6" %>
      </div>

      <%# Password Input %>
      <div>
        <%= form.label :password, "Senha", class: "block text-sm font-medium text-white mb-2" %>
        <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72, class: "block w-full rounded-xl border-0 bg-white py-3.5 px-4 text-slate-900 shadow-inner focus:ring-4 focus:ring-white/50 sm:text-sm sm:leading-6" %>

        <div class="flex items-center justify-end mt-2">
          <%= link_to "Esqueci a senha", new_password_path, class: "text-sm text-white hover:text-slate-200 transition" %>
        </div>
      </div>

      <%# Login button %>
      <div class="pt-6">
        <%= form.submit "Entrar", class: "flex w-full justify-center rounded-xl bg-white px-3 py-3.5 text-lg font-bold text-[#752CC8] shadow-md hover:bg-slate-100 transition cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>